.listen {
  width: 100%;
  .top {
    width: 100%;
    overflow: hidden;
    .listenLeft {
      float: left;
    }
    .more {
      float: left;
    }
  }
  .listenItems {
    width: 100%;
    overflow: hidden;
    .listenItem {
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px;
      padding-bottom: 10px;
      .lisLeft {
        width: 60px;
        height: 60px;
        float: left;
      }
      .lisRight {
        margin-left: 75px;
        height: 60px;
        display: flex;
        flex-direction: column;
        .tit {
          flex: 1;
          color: #000;
          font-size: 14px;
        }
        .bot {
          flex:1;
          color: #777;
          font-size: 12px;
          .icon {
            margin-right: 10px;
          }
          .lisName {
            margin-right: 20px;
          }
        }
      }
    }
  }
}